{
  "extends": "./eslint/index.js",
  "globals": {
      "it": true,
      "describe": true,
      "beforeAll": true,
      "test": true,
      "jest": true,
      "expect": true,
      "window": true,
      "document": true
  }
}
